extends ./layout.pug

block body
  div#prismic-help

    header
      nav
        if isConfigured
          a(href=repoURL target="_blank")
            strong Go to #{name}
        else
          a(href="#config")
            strong Configure a repository
        a.doc(href="https://prismic.io/docs") Documentation
          img(src="images/open.svg" alt="")
      .wrapper
        img(src="images/rocket.svg" alt="")
        h1 High five, you deserve it!
        p Grab a well deserved cup of coffee, you're two steps away from creating a page with dynamic content.
      .hero-curve
      .flip-flap
        .flipper
          .guide
            ul
              li.done
                span 1
                |Bootstrap your project
              li
                a(href="#query")
                  span 2
                  |Query the API
                  img(src="images/arrow.svg" alt="")
              li
                a(href="#done")
                  span 3
                  |Fill the template
                  img(src="images/arrow.svg" alt="")
          .gif



    section
      p This is a help page included in your project, it has a few useful links and example snippets to help you getting started. You can any time access this by pointing your browser to #{host}/help.

      - var stepNumberText = isConfigured ? 'Two' : 'Three'
      h2 #{stepNumberText} more steps:

      if !isConfigured
        h3#config
          span 1
          |Bootstrap your project

        p If you haven't yet, create a prismic.io content repository. A repository is where your website’s content will live. Simply #[a(href="https://prismic.io/#create" target="_blank") create one] choosing a repository name and a plan. We’ve got a variety of plans including our favorite, Free!

        h4 Add the repository URL to you configuration

        p Replace the repository url in your config file with your-repo-name.prismic.io

        .source-code
          pre
            code
              |// In prismic-configuration.js
              |apiEndpoint: "http://your-repo-name.prismic.io/api",


      h3#query
        span 2
        |Create your route for a homepage or everypage that you want

      p Query the API for your "get-started" page
        |Now that you've created your "get-started" page, go back to your local code. Let's make a call the API and retrieve our page |content. For that, we will use the specified UID.
        |Once we've retrieved the page, we render the template providing it with its content.

      .source-code
        pre
          code
            |/* In app.js, replace the block starting with "app.route(/)" with: */
            |app.route('/').get(function(req, res) {
            |        api.(req, res).then(function(api) {
            |                return api.getByUID('page','get-started');
            |        }).then(function(prismicdoc){
            |                res.render('index',{
            |                        pagecontent: prismicdoc
            |                });
            |        }).catch(function(err){
            |                handleError(err, req, res);
            |        });
            |});

      h3#done
        span 2
        |Create your first Page
      h4 Replace static content with corresponding page fields
      p Now all that's left to be done is replace the static non-managed content in the template with content we fetched from the API.
      .source-code
        pre
          code
            |/* In views/index.pug */
            |extends ./layout.pug
            |block body
            |        div.welcome
            |                img(src=pagecontent.getImage('page.image').url, class="star")
            |                !=pagecontent.getStructuredText('page.title').asHtml(ctx.linkResolver)
            |                !=pagecontent.getStructuredText('page.description').asHtml(ctx.linkResolver)
